.cdrct {
  padding: 10px; }

#box_lich_van_nien .tbcmg a.actv {
  font-size: 22px;
  font-weight: 700;
  color: #d2577e; }

#box_lich_van_nien .tbcmg {
  padding: 0px 10px; 
}

.cdrtit {
  background: #d2577e;
  text-align: center;
  color: #fff;
  font-weight: 700;
  overflow: hidden;
  height: 40px;
  line-height: 40px; }

.cdrtit h3 {
  font-size: 16px;
  font-weight: 700; }

.cdrtitpls {
  float: left;
  width: 50%;
  background: #f5e3e9;
  border-right: #fff solid 1px;
  text-align: center;
  padding: 5px 0;
  color: #3d3d3d; }

.cdrtitneg {
  float: left;
  width: 50%;
  background: #f5e3e9;
  text-align: center;
  padding: 5px 0;
  color: #3d3d3d; }

.cdrtitpls a, .cdrtitneg a {
  color: #3d3d3d;
  font-size: 16px; }

.cdrpls, .cdrneg {
  float: left;
  width: 50%;
  border-right: #e1e1e1 solid 1px;
  border-left: #e1e1e1 solid 1px;
  text-align: center;
  padding: 10px 0;
  height: 170px;
  border-bottom: #e1e1e1 solid 1px;
  line-height: 20px; }

.cdrdtpls {
  padding: 10px 0 20px;
  color: #d2577e;
  font-size: 50px;
  line-height: 80%; }

.cdrnub {
  color: #3d3d3d; }

.cdrdtneg {
  padding: 10px 0 20px;
  color: #d2577e;
  font-size: 40px;
  line-height: 80%; }

.cdrbty {
  padding: 7px 15px;
  text-align: justify;
  background: #ebebeb;
  font-style: italic;
  overflow: hidden;
  border-bottom: #e1e1e1 solid 1px;
  line-height: 24px; }

.hrzdac {
  border-bottom: #e1e1e1 solid 1px;
  border-left: #e1e1e1 solid 1px;
  border-right: #e1e1e1 solid 1px;
  line-height: 24px;
  padding: 7px 15px; }

.lndsh {
  border-top: 1px dashed #e5e5e5;
  display: block;
  line-height: 23px;
  margin: 10px 0 0;
  padding: 5px 0 0; }

.hrzdac span {
  display: inline;
  width: 100%;
  float: left; }

.dtmro {
  padding: 10px 0;
  display: inline-block;
  border-left: #e1e1e1 solid 1px;
  border-right: #e1e1e1 solid 1px;
  border-bottom: #e1e1e1 solid 1px;
  width: 40%;
  float: left; }

.dtmro a {
  background: url(//image.eva.vn/images/2014/sprites.png) no-repeat 10px -909px;
  color: #818181;
  padding: 0 5px 0 35px;
  display: block; }

.lichThang {
  padding: 10px 0;
  display: inline-block;
  border-right: #e1e1e1 solid 1px;
  border-bottom: #e1e1e1 solid 1px;
  width: 150px; }

.lichThang a {
  color: #818181;
  background: url(//image.eva.vn/images/2014/sprites.png) no-repeat 10px -945px;
  padding: 0 5px 0 35px;
  display: block; }

.seimgb {
  display: inline-block;
  padding: 10px 0 10px 10px;
  border-right: #e1e1e1 solid 1px;
  border-bottom: #e1e1e1 solid 1px;
  width: 60%;
  color: #818181; }

.seimgb a {
  background: url(//image.eva.vn/images/2017/iconAnhBe.png) no-repeat 0px 3px;
  color: #818181;
  padding: 0 5px 0 35px;
  display: block; }

#box_lich img {
  width: inherit; }

.seimgb a img {
  vertical-align: middle;
  width: 16px;
  height: 16px;
  float: left; }

.lichThangTitle a, .lichThangTitle {
  font-size: 16px;
  font-weight: 700;
  color: #fff; }

.cdrdtcm {
  text-align: center;
  color: #fff;
  height: 30px;
  font-size: 14px; }

.cdrdtltwk {
  text-align: center;
  color: #ff8aab;
  height: 30px;
  font-size: 14px; }

.cdrwk {
  text-align: center;
  vertical-align: middle;
  background: #fff;
  color: #863a52;
  padding: 5px;
  font-weight: 700;
  font-size: 12px; }

.cdrdtle {
  background: #d2577e;
  color: #fff;
  width: 85px; }

.dtpls {
  text-align: left;
  font-size: 16px;
  padding: 5px;
  display: block;
  color: #212121; }

.dtneg {
  text-align: right;
  font-size: 14px;
  padding: 5px;
  display: block;
  color: #212121; }

.mthhrzdac {
  border-top: #e1e1e1 dotted 1px;
  text-align: center;
  padding: 5px;
  display: block;
  color: #818181;
  font-size: 11px; }

.cdrdtltmth {
  background: #ebebeb;
  color: #000;
  height: 40px; }

.dtplsltwk {
  text-align: left;
  font-size: 16px;
  padding: 5px;
  color: #ac4361;
  display: block; }

.txtudr {
  color: #818181; }
.cdrmth {
    margin-top: 10px;
}
.cdrmthcm, .cdrltwk {
  background: #fff;
  color: #000;
  height: 40px; }
.cdrdtothr {
    margin: 5px 0;
}
.cdrdtothr td {
    padding: 0 2px;
}
.cdrdtothr table tr td select {
  padding: 6px; }

.btnPink {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #d2577e;
  color: #fff;
  font-weight: 700;
  padding: 0px 10px; 
  height: 31px;
  line-height: 31px;
}

#calendar_lichvannien {
  background-color: #fff !important; }

.TESTcpYearNavigation, .TESTcpMonthNavigation {
  text-align: center;
  text-decoration: none;
  color: #333;
  font-weight: 700; }

.TESTcpDayColumnHeader, .TESTcpYearNavigation, .TESTcpMonthNavigation, .TESTcpCurrentMonthDate, .TESTcpCurrentMonthDateDisabled, .TESTcpOtherMonthDate, .TESTcpOtherMonthDateDisabled, .TESTcpCurrentDate, .TESTcpCurrentDateDisabled, .TESTcpTodayText, .TESTcpTodayTextDisabled, .TESTcpText {
  background-color: #FFF;
  font-size: 10px;
  color: #333;
  padding: 2px; }

TD.TESTcpDayColumnHeader {
  background-color: #FFF;
  text-align: center;
  border: solid thin red;
  border-width: 0; }

.TESTcpCurrentMonthDate, .TESTcpOtherMonthDate, .TESTcpCurrentDate {
  text-align: right;
  text-decoration: none; }

.TESTcpCurrentMonthDate {
  color: #F60;
  font-weight: 700; }

.cdrngayKhac table tr td select {
  padding: 6px; }

/*-----End Calendar------*/
@media only screen and (min-width: 480px) {
  .cdrhrneg, .cdrdtmth, .cdrbty, .hrzdac {
    line-height: 150%; }

  .cdrpls, .cdrneg {
    height: 200px; } }
@media only screen and (min-width: 568px) {
  .cdrpls, .cdrneg {
    height: 220px; } }
@media only screen and (min-width: 667px) and (max-width: 767px) {
  .dtplsltwk, .dtpls, .lichThangTitle a, .lichThangTitle, .cdrtitpls a, .cdrtitneg a, .cdrtit h3, .cdrdtmro td b,
  .cdrdtmth, .cdrnub, .cdrhrneg, .cdrbty, .hrzdac, .dtmro a, .seimgb a, .cdrdtmro table tr td select, .btnPink {
    font-size: 24px; }

  .mthhrzdac {
    font-size: 18px; }

  .dtneg {
    font-size: 22px; }

  .cdrwk, .cdrdtltwk, .cdrdtcm {
    font-size: 20px; }

  .cdrdtneg {
    font-size: 48px; }

  .cdrdtpls {
    font-size: 58px; }

  #box_lich_van_nien .tbcmg a.actv {
    font-size: 30px; } }
@media only screen and (min-width: 568px) and (max-width: 666px) {
  .dtplsltwk, .dtpls, .lichThangTitle a, .lichThangTitle, .cdrtitpls a, .cdrtitneg a, .cdrtit h3, .cdrdtmro td b,
  .cdrdtmth, .cdrnub, .cdrhrneg, .cdrbty, .hrzdac, .dtmro a, .seimgb a, .cdrdtmro table tr td select, .btnPink {
    font-size: 22px; }

  .mthhrzdac {
    font-size: 16px; }

  .dtneg {
    font-size: 20px; }

  .cdrwk, .cdrdtltwk, .cdrdtcm {
    font-size: 18px; }

  .cdrdtneg {
    font-size: 46px; }

  .cdrdtpls {
    font-size: 56px; }

  #box_lich_van_nien .tbcmg a.actv {
    font-size: 28px; } }
@media only screen and (min-width: 480px) and (max-width: 567px) {
  .dtplsltwk, .dtpls, .lichThangTitle a, .lichThangTitle, .cdrtitpls a, .cdrtitneg a, .cdrtit h3, .cdrdtmro td b,
  .cdrdtmth, .cdrnub, .cdrhrneg, .cdrbty, .hrzdac, .dtmro a, .seimgb a, .cdrdtmro table tr td select, .btnPink {
    font-size: 20px; }

  .mthhrzdac {
    font-size: 14px; }

  .dtneg {
    font-size: 18px; }

  .cdrwk, .cdrdtltwk, .cdrdtcm {
    font-size: 16px; }

  .cdrdtneg {
    font-size: 44px; }

  .cdrdtpls {
    font-size: 54px; }

  #box_lich_van_nien .tbcmg a.actv {
    font-size: 26px; } }
@media only screen and (min-width: 361px) and (max-width: 479px) {
  .dtplsltwk, .dtpls, .lichThangTitle a, .lichThangTitle, .cdrtitpls a, .cdrdtmro td b,
  .cdrtitneg a, .cdrtit h3, .cdrdtmth, .cdrnub, .cdrhrneg, .cdrbty, .hrzdac, .dtmro a, .seimgb a, .cdrdtmro table tr td select, .btnPink {
    font-size: 18px; }

  .mthhrzdac {
    font-size: 12px; }

  .dtneg {
    font-size: 16px; }

  .cdrwk, .cdrdtltwk, .cdrdtcm {
    font-size: 14px; }

  .cdrdtneg {
    font-size: 42px; }

  .cdrdtpls {
    font-size: 52px; }

  #box_lich_van_nien .tbcmg a.actv {
    font-size: 24px; } }
/* Begin 13-07-02917 : Thangnb bo_sung_nut_tien_lui_lich_van_nien_mobile */
.cdrct {
  position: relative; }

.cdrprv {
  width: 24px;
  height: 24px;
  background: url(//image.eva.vn/images/2017/btnPrev-tron.gif) no-repeat;
  display: block;
  top: 145px;
  left: 15px;
  position: absolute; }

.cdrnxt {
  width: 24px;
  height: 24px;
  background: url(//image.eva.vn/images/2017/btnNext-tron.gif) no-repeat;
  display: block;
  top: 145px;
  right: 15px;
  position: absolute; }

/* End 13-07-02917 : Thangnb bo_sung_nut_tien_lui_lich_van_nien_mobile */
#tt{
    display: none !important;
}
/*# sourceMappingURL=calendar.css.map */