.pktbclrL {
    float: left
}

.pktbclrL a {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    color: #d2577e
}

.bvtpseo {
    margin-top: 0;
    margin-right: 5px;
    text-align: right
}

.bvtpseo a {
    height: 28px;
    padding: 5px;
    background-color: #e1e3e4;
    margin-right: -5px;
    line-height: 27px;
    color: #d2577e;
    -webkit-transition: background .25s ease-out, color .25s ease-out;
    transition: background .25s ease-out, color .25s ease-out;
    font-size: 14px
}

.bvtpseo a:hover {
    background-color: #f4f4f4
}

.cdrprv {
    width: 26px;
    padding-right: 3px;
    float: left;
    padding-top: 235px
}

.cdrct {
    float: left;
    width: 630px;
    margin-top: 10px
}

.cdrtit {
    width: 630px;
    background: #d2577e;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    overflow: hidden
}

.cdrtitpls {
    float: left;
    width: 315px;
    background: #f5e3e9;
    border-right: #fff solid 1px;
    text-align: center;
    padding: 5px 0;
    color: #3d3d3d
}

.cdrtitpls a,
.cdrtitneg a {
    color: #3d3d3d
}

.cdrtitneg {
    float: left;
    width: 315px;
    background: #f5e3e9;
    text-align: center;
    padding: 5px 0;
    color: #3d3d3d
}

.cdrpls {
    float: left;
    width: 315px;
    border-right: #e1e1e1 solid 1px;
    border-left: #e1e1e1 solid 1px;
    text-align: center;
    padding: 10px 0;
    height: 170px;
    border-bottom: #e1e1e1 solid 1px;
    line-height: 20px
}

.cdrdtmth {
    font-size: 14px;
    font-weight: 700;
    color: #818181
}

.cdrdtpls {
    padding: 10px 0 20px;
    color: #d2577e;
    font-size: 90px;
    line-height: 80%
}

.cdrnub {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3d3d3d
}

.cdrneg {
    float: left;
    width: 315px;
    text-align: center;
    padding: 10px 0;
    height: 170px;
    border-bottom: #e1e1e1 solid 1px;
    line-height: 20px;
    border-right: #e1e1e1 solid 1px
}

.cdrdtneg {
    padding: 10px 0;
    color: #ac4361;
    font-size: 60px;
    line-height: 120%
}

.cdrbty {
    width: 630px;
    padding: 7px 15px;
    text-align: justify;
    background: #ebebeb;
    font-style: italic;
    overflow: hidden;
    border-bottom: #e1e1e1 solid 1px;
    line-height: 24px
}

.hrzdac {
    width: 630px;
    border-bottom: #e1e1e1 solid 1px;
    border-left: #e1e1e1 solid 1px;
    border-right: #e1e1e1 solid 1px;
    line-height: 24px;
    padding: 7px 15px
}

.lindsh {
    border-top: 1px dashed #e5e5e5;
    display: block;
    line-height: 23px;
    margin: 10px 0 0;
    padding: 5px 0 0
}

span.dtmro {
    padding: 10px 0;
    display: inline-block;
    border-left: #e1e1e1 solid 1px;
    border-right: #e1e1e1 solid 1px;
    border-bottom: #e1e1e1 solid 1px;
    width: 150px;
    float: left;
}

.dtmro a {
    background: url(//image.eva.vn/images/2014/sprites.png) no-repeat 10px -914px;
    color: #818181;
    padding: 0 5px 0 35px;
    display: block
}
table .cdrwk {
    font-weight: 700;
}
.cdrwk {
    text-align: center;
    vertical-align: middle;
    background: #fff;
    color: #863a52;
}
.cdrltwk {
        background: #fff;
    color: #000;
    height: 40px;
    width: 85px;
}
span.cdrwk {
    padding: 10px 0;
    display: inline-block;
    border-right: #e1e1e1 solid 1px;
    border-bottom: #e1e1e1 solid 1px;
    width: 150px;
    float: left;    
}
.cdrct .cdrwk {
    text-align: left;
}   
.cdrwk a {
    color: #818181;
    background: url(//image.eva.vn/images/2014/sprites.png) no-repeat 10px -945px;
    padding: 0 5px 0 35px;
    display: block
}

span.seimgb {
    display: inline-block;
    padding: 10px 0 10px 10px;
    border-right: #e1e1e1 solid 1px;
    border-bottom: #e1e1e1 solid 1px;
    width: 330px;
    color: #818181;
    float: left;
}

.seimgb a {
    color: #818181
}

.seimgb a img {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    float: left
}

.cdrhrneg {
    font-size: 14px
}

.cdrnxt {
    width: 26px;
    padding-left: 3px;
    float: left;
    padding-top: 235px;
    text-align: right
}

.cdrdtothr {
    text-align: center;
    padding: 10px
}

.btnPink {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #d2577e;
    color: #fff;
    font-weight: 700;
    padding: 5px 10px
}

.btnPink:hover {
    color: #fff;
    background-color: #EA7298
}

.cdrdtothr table tr td select {
    padding: 6px;
    width: 100px !important;
    margin-left: 10px;
}

.cdrwktit a,
.cdrwktit {
    font-size: 16px;
    font-weight: 700;
    color: #fff
}

.cdrdtcm {
    text-align: center;
    color: #fff;
    height: 30px;
    width: 85px
}

.cdrdtltwk {
    text-align: center;
    color: #ff8aab;
    height: 30px;
    width: 85px
}

.cdrdtle {
    background: #d2577e;
    color: #fff;
    height: 40px;
    width: 85px
}

.cdrmthcm {
    background: #fff;
    color: #000;
    height: 40px;
    width: 85px
}

.dtpls {
    text-align: left;
    font-size: 22px;
    padding: 5px;
    display: block;
    color: #212121
}

.dtneg {
    text-align: right;
    font-size: 14px;
    padding: 5px;
    display: block;
    color: #212121
}

.mthhrzdac {
    border-top: #e1e1e1 dotted 1px;
    text-align: center;
    padding: 5px;
    width: 70px;
    height: 50px;
    display: block;
    color: #818181;
    font-size: 11px
}

.mthhrzdac span {
    font-size: 12px!important
}

.lich-cuoiTuan {
    background: #fff;
    color: #000;
    height: 40px;
    width: 85px
}

.dtplsltwk {
    text-align: left;
    font-size: 22px;
    padding: 5px;
    color: #ac4361;
    display: block
}

.txtudr {
    color: #818181;
    font-size: 11px
}

.cdrdtltmth {
    background: #ebebeb;
    color: #000;
    height: 40px;
    width: 85px
}

.cdrmth a img {
    width: 24px
}

#calendar_lichvannien {
    background-color: #fff!important
}

.TESTcpDayColumnHeader,
.TESTcpYearNavigation,
.TESTcpMonthNavigation,
.TESTcpCurrentMonthDate,
.TESTcpCurrentMonthDateDisabled,
.TESTcpOtherMonthDate,
.TESTcpOtherMonthDateDisabled,
.TESTcpCurrentDate,
.TESTcpCurrentDateDisabled,
.TESTcpTodayText,
.TESTcpTodayTextDisabled,
.TESTcpText {
    background-color: #FFF;
    font-size: 10px;
    color: #333;
    padding: 2px
}

.TESTcpYearNavigation,
.TESTcpMonthNavigation {
    text-align: center;
    text-decoration: none;
    color: #333;
    font-weight: 700
}

TD.TESTcpDayColumnHeader {
    background-color: #FFF;
    text-align: center;
    border: solid thin red;
    border-width: 0
}

.TESTcpCurrentMonthDate {
    color: #F60;
    font-weight: 700
}

.TESTcpCurrentMonthDate,
.TESTcpOtherMonthDate,
.TESTcpCurrentDate {
    text-align: right;
    text-decoration: none
}

#box_lich img {
    width: inherit
}