.menuRight {
    position: relative;
    margin-bottom: 10px;
}
.searchBox {
    border-bottom: #ebebeb solid 1px;
    padding: 10px;
    display: inline-block;
    width: 100%;
}
.searchTextBox {
    width: 100%;
    background: #fff;
    border: 0;
    padding: 10px 0px 10px 10px;
    height: 40px;
    font-size: 16px;
    color: #666;
    float: left;
    border: #c2c2c2 solid 1px;
}
.searchBtn {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-position: 10px -980px;
    float: right;
    background: url(//image.eva.vn/images/m2017/icon-search.png) no-repeat center;
    background-size: 25px;
    cursor: pointer;
}
ul.mnRight li {
    display: block;
    list-style: none;
    position: relative;
}
ul.mnRight li ul li {
    display: block;
    padding-left: 20px;
}
ul.mnRight li ul {
    margin: 0;
    padding: 0;
    background: #e1e1e1;
}
.submenu-header {
    display: none;
}
.show-menu-input {
    display: none;
}
.hide-menu {
    display: none;
}
ul.mnRight li a.home {
    padding-left: 47px;
    background: url(//image.eva.vn/images/m2017/sprites.png);
    background-repeat: no-repeat;
    background-position: 15px -27px;
}
ul.mnRight li a {
    font-size: 18px;
        padding: 9px 15px;
    color: #3d3d3d;
    display: block;
}
.show-menu {
    background: url(//image.eva.vn/images/m2017/droplist_icon.png) no-repeat;
    background-size: 14px;
    background-position: 40px 20px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    width: 70px;
    height: 40px;
    border: none;
    text-indent: 999999px;
}
input:checked ~ .show-menu {
    display: none;
}
input:checked ~ .show-menu ~ .hide-menu {
    background: url(//image.eva.vn/images/m2017/droplist_thu_gon.png) no-repeat;
    background-size: 18px;
    background-position: 40px 20px;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    width: 70px;
    height: 40px;
    border: none;
    display: block;
}
input:checked ~ .show-menu ~ .hide-menu ~ .submenu-header {
    display: block;
}
input:checked ~ a {
    font-weight: 700;
}
@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 568px) {
}
@media only screen and (min-width: 667px) and (max-width: 767px) {
    ul.mnRight li a {
        font-size: 26px;
    }
    ul.mnRight li a.home {
        background-position: 15px -14px;
    }
    .copyright span, .copyright span * {
        font-size: 20px;
    }
}
@media only screen and (min-width: 568px) and (max-width: 666px) {
    ul.mnRight li a {
        font-size: 24px;
    }
    ul.mnRight li a.home {
        background-position: 15px -18px;
    }
    .copyright span, .copyright span * {
        font-size: 18px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 567px) {
    ul.mnRight li a {
        font-size: 22px;
    }
    ul.mnRight li a.home {
        background-position: 15px -20px;
    }
    .copyright span, .copyright span *  {
        font-size: 16px;
    }
}
@media only screen and (min-width: 361px) and (max-width: 479px) {
    ul.mnRight li a {
        font-size: 20px;
    }
    ul.mnRight li a.home {
        background-position: 15px -21px;
    }
    .copyright span {
        font-size: 14px;
    }
    .copyright span, .copyright span * {
        font-size: 14px;
    }
}
@media only screen and (max-width: 360px) {
}