body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #212121;
    line-height: 16px;
}
/*Start poll*/
p {
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.text-center {
    text-align: center;
}
.marT10 {
    margin-top: 10px;
}
.marB10 {
    margin-bottom: 10px;
}
.pollContainer {
    border: #d2577e solid 2px;
    margin-bottom: 10px;
}
.pollTop {
    padding: 3px 10px 7px;
    color: #fff;
    font-weight: 700;
    background: #d2577e;
    font-size: 16px;
    line-height: 1.5;
}
.pollContent {
    background: #fff;
    padding: 10px 8px;
    text-align: left;
}
.pollQA {
    padding: 0 0 10px;
}
.pollQA p {
    margin: 0;
}
.bold {
    font-weight: 700;
}
.pollContent-check {
    line-height: 1.8;
}
.btn-green {
    margin-right: 5px;
    font-size: 16px;
    background-color: #d2577e;
    color: #FFF;
    padding: 5px 15px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
.popup {
    border: #d2577e solid 2px;
}
.popupCnt {
    padding: 2%;
}
.popupCnt p {
    margin-bottom: 10px;
    margin-top: 0;
}
.popupCnt p.pollDapAn {
    margin-bottom: 0;
}
.pollAnswerBar {
    height: 15px;
    float: left;
    margin: 7px 10px 0 0;
}
.results span {
    font-size: 16px;
}
span.close {
    display: inline-block;
    width: 20px;
    height: 12px;
    background: url(//image.eva.vn/images/m2014/images/iconClose.png) 0 0 no-repeat;
}
.btn-grey {
    background-color: #ebebeb;
    color: #333;
    padding: 5px 15px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
.pollinput input {
    width: 45%;
    float: left;
    margin-right: 10px;
}
.textbox {
    border: #e1e1e1 solid 1px;
    padding: 7px 10px;
    color: #666;
    font-size: 14px;
}
.capcha {
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 6px 0;
}
.capcha img {
    width: 77px;
    height: 20px;
}
/*End poll*/

.txt_moi_bai_lien_quan{
    color: #0000FF;
    float: left;
    font-weight: bold;
    padding-right: 5px;
    line-height: 24px;
}
.bv-lq a{
    color: #0000FF;
    font-weight: bold;
}
.nwsCt .img_bai_lien_quan_tren {
	width: 100%;
}
.zPlayer_adVolume img {
	width: auto;
    height: 15px;
}
/* begin 12/6/2018 fix_loi_khong_thong_bao_khi_nhap_sai_ma_capcha */
.plQA{
    margin-top: -15px;
    margin-bottom: 15px;
    color: red;
    font-size: 13px;
}
/* end 12/6/2018 fix_loi_khong_thong_bao_khi_nhap_sai_ma_capcha */