
.disBlock {
    display: block !important;
}

.lh0 {
    line-height: 0;
}

.expertTit {
    font-size: 22px;
    color: #000;
    padding: 5px 0 0 15px;
    font-family: Oswald, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.expertImg {
    display: inline-block;
    width: 78px;
    height: 78px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.2s;
}
.expertImg img {
    height: 100%;
    object-fit: cover; 
}


.expert .expertInner {
    background-color: rgba(153, 153, 153, 0.54);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.expert .expertInner .flex {
    justify-content: space-between;
    padding: 0 50px 7px;
}

.expert .expertInner .flex .icoVidPrv,
.expert .expertInner .flex .icoVidNxt {
    top: 30px;
}

.expert .expertInner .flex .item {
    margin: 0;
    text-align: center;
}

.expert .expertInner .flex .item .doctorName {
    display: block;
    font-size: 12px;
    color: #000;
    width: 70px;
}

.expert .expertInner .flex .item:hover .expertImg {
    border: 3px solid #d2577f;
}

.expert .expertInner .flex .item:hover .doctorName, .sick .list .item:hover .sickName, .listExpert article .inner .doctorName:hover {
    color: #d2577f;
}

.listExpert {
    background-color: #f2f2f2;
    padding: 0 38px 0 10px;
}

.listExpert .expertTit {
    color: #d2577f;
    padding: 10px 0;
}

.listExpert .lin {
    border-color: #d7d7d7;
    width: 96%;
    float: right;
    margin: 15px 0;
}

.listExpert article .borImg {
    width: 105px;
    height: 105px;
    margin: 0 15px 0 10px;
    text-align: center;
}

.listExpert article .expertImg:hover {
    border: 3px solid #d2577f;
    width: 105px;
    height: 105px;
    box-shadow: 0px 0px 7px #999;
}

.listExpert article .inner {
    width: 77px;
    flex-grow: 1;
}

.listExpert article .inner .doctorName {
    display: inline-block;
    font-size: 17px;
    color: #000;
    margin-bottom: 10px;
}


.listExpert article .inner .doctorInfo p{
    font-size: 14px;
    margin-top: 0;
    text-align: left;
    line-height: 1.4;
}

.listExpert article .inner .detail {
    text-align: right;
    padding-right: 15px;
}

.listExpert article .inner .detail a {
    font-style: italic;
    color: #d2577f;
    font-weight: 500;
}

.sick {
    border: 1px solid #acacac;
    padding: 25px 10px 5px 10px;
    position: relative;
    margin-top: 23px;
}

.sick .expertTit {
    color: #d2577f;
    padding: 0;
    position: absolute;
    top: -13px;
    left: 30px;
    background-color: #fff;
}

.sick .list {
    word-spacing: -4px;
}

.sick .list .item {
    display: inline-table;
    width: 217px;
    margin-bottom: 10px;
    word-spacing: 0;
}

.sick .list .item img {
    max-width: 62px;
    vertical-align: middle;
    transition: 0.2s;
    float: left;
}

.sick .list .item .sickName {
    font-size: 16px;
    color: #000;
    padding-top: 10px;
}

.sick .list .item:hover img {
    transform: scale(1.2);
}

.box_bai_viet_chuyen_gia .swiper-slide {
    width: 120px;
    margin: initial;
}
/*# sourceMappingURL=bai_chuyen_gia.css.map */
/* Begin: 9-11-2019 bo_sung_link_goc_cho_bai_khai_thac_frontend */
p.linkOrigin, p.linkOrigin * {
    font-size: 13px !important;
    color: #757575;
    margin: 10px 0;
    text-align: unset;
}
p.linkOrigin * {
    margin: 0; }
p.linkOrigin .icoDrop {
    display: inline-block;
    background: url('//test.eva.vn/images/responsive/icoDrop.png') no-repeat;
    width: 13px;
    height: 11px;
    vertical-align: middle;
    cursor: pointer;
}
/* End: 9-11-2019 bo_sung_link_goc_cho_bai_khai_thac_frontend */
/*BEGIN xu_ly_hien_thi_template_dac_biet_2*/
.template_profile_title {
    font-size: 27px;
    color: #e26d8d;
    background: url("//test.eva.vn/images/responsive/line_template_profile_2.png") no-repeat;
    margin-bottom: 25px;
    text-align: center;
    height: 31px;
    line-height: 29px;
    padding-left: 15px;
    text-transform: uppercase;
}
.template_profile_title a{
    color: #e26d8d;
}
.template_profile_txtMore {
    display: inline-block;
    width: 118px;
    font-size: 15px;
    color: #d2587d;
    border: 2px solid #d2587d;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    background: url("//test.eva.vn/images/responsive/icoMore.png") no-repeat 93%;
    padding: 8px 10px;
    box-sizing: border-box;
    text-align: left;
    margin: 30px 0 10px 0;
}

.noCnt {
    height: 53px;
}

.template_profile_txtMore.last {
    margin-bottom: 30px;
}
/*END xu_ly_hien_thi_template_dac_biet_2*/