.title-quiz-question {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}
.content-quiz-right {
    font-size: 16px;
    line-height: 30px;
    font-style: italic;
    font-weight: 700;
}
.number-quiz {
    font-size: 20px;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #d2577e;
    display: block;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    margin-right: 10px;
}
.title-content-quiz {
    margin-left: 40px;
    display: block;
}
.quiz-question-one .body-quiz-question .quiz-question-item:nth-of-type(2n+1) {
    clear: both;
}
.quiz-question-one i {
    font-size: 14px !important;
}
.quiz-question-one .quiz-question-item:nth-child(odd) {
    margin-left: -1%;
    margin-bottom: 2%;
}
.quiz-question-one .body-quiz-question .quiz-question-item {
    width: 50%;
    float: left;
}
.quiz-question-one {
    display: inline-block;
    width: 100%;
}
.body-quiz-question-inner {
    padding: 2%;
}
a.quiz-question-item-link {
    display: block;
    border: 2px solid #ddd;
    padding: 2%;
}
.quiz-question-item-link.active {
    background: #f1c9db;
    border: 2px solid #d2577e;
}
.body-quiz-question-inner a.quiz-question-item-link.active {
    border: 2px solid #d2577e;
    position: relative;
}
.block-quiz a.quiz-question-item-link.active {
    color: #d2577e;
}
.block-quiz a.quiz-question-item-link {
    color: #333;
}
.check-quiz-question-item {
    position: relative;
    padding-left: 25px;
    font-weight: 700;
}
.check-quiz-question-item {
    margin: 5px 0;
}
.newsContent .img-quiz-question-item img{
    width: 100%;
    max-width: inherit;
}

/*.quiz-question-item-link.active .check-quiz-question-item:before {
    content: "";
    position: absolute;
    background: url(//image.eva.vn/images/2014/quiz-icon/check-active.png) no-repeat;
    width: 18px;
    height: 18px;
    top: 4px;
    left: 0;
}*/
/*.check-quiz-question-item:before {
    content: "";
    position: absolute;
    background: url(//image.eva.vn/images/2014/quiz-icon/checkbox.png) no-repeat;
    width: 18px;
    height: 18px;
    top: 4px;
    left: 0;
}*/
.body-quiz-question-inner a.quiz-question-item-link.active .quiz1-item-img-after {
    display: none;
}
.check-quiz-question-item img.quiz1-item-img-before {
    display: none;
}
.check-quiz-question-item img {
    display: inline;
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}
.body-quiz-question-inner .check-quiz-question-item img {
    width: 18px;
}
.body-quiz-question-inner .active .check-quiz-question-item img.quiz1-item-img-before {
    display: inline;
}
.xemketqua span {
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}
.link-xemketqua {
    display: block;
    padding: 12px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.link-xemketqua a {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    padding: 12px 30px;
    background: #d2577e;
    border-radius: 5px;
}
.link-xemketqua a:hover {
    color: #fff;
}
.quiz-repeat {
    background-color: #f2f2f2;
    margin-top: 20px;
}
.quiz-repeat .body-quiz-question-inner {
    border: 1px solid #d2577e;
}

.body-quiz-question-inner {
    padding: 2%;
}
.quiz-result {
    color: #800080;
    font-size: 18px;
    font-weight: 700;
}
.quiz-cung {
    border: 1px solid #d2577e;
    margin-bottom: 30px;
}
.title-quiz-cung {
    background: #d2577e;
    text-align: center;
    padding: 10px;
}
.title-quiz-cung span {
    color: #fff;
    font-weight: 700;
}
.inner-quiz-cung {
    padding: 10px;
}
.left-quiz-cung {
    width: 145px;
    float: left;
    margin-right: 20px;
    height: 106px;
}
.right-quiz-cung {
    float: left;
    width: 435px;
}
.quiz_icon_fb {
    display: inline-block;
    margin-top: 15px;
}
.quiz_icon_fb a img {
    float: left;
    margin-right: 10px;
}
.left-quiz-cung .news-image {
    border-radius: 50%;
    object-fit: cover;
}
.title-right-quiz-cung, .body-right-quiz-cung {
    margin-bottom: 5px;
    margin-top: 10px;
}
.quiz_2_3_col_items .list-quiz-cung-item:nth-child(3n+1) {
    clear: both;
}
.body-right-quiz-cung p {
    margin: 0;
}
.quiz_2_2 .list-quiz-cung-item {
    width: 50%;
        float: left;
    margin-bottom: 1%;
    margin-top: 15px;
}
.inner-body-list-quiz-cung {
    padding: 2%;
}
.inner-body-list-quiz-cung a img {
    width: 100%;
}
.quiz_2_3 .list-quiz-cung-item {
    width: 33.33%;
    float: left;
}
.inner-body-list-quiz-cung a {
    display: block;
    text-align: center;
    color: #000;
    padding: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
}
.flip-container{-webkit-perspective:1000;-moz-perspective:1000;perspective:1000}
.flipper{-webkit-transition:.6s;-moz-transition:.6s;transition:.6s;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d;position:relative}
.front,.back{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;position:absolute;top:0;left:0;width:100%}
.front img,.back img{text-align:center}
.flip .front{-webkit-visibility:hidden;-moz-visibility:hidden;visibility:hidden}
.back{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);transform:rotateY(180deg)}
.flip-container.flip .flipper{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);transform:rotateY(180deg)}
.quiz_3_box {
    border: 1px solid #ddd;
    background: #ebebeb;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
.quiz_3_box_inner {
    padding: 10px;
}
.quiz_3_box-right .see-quiz_3_box {
    float: right;
    border: 2px solid #d2577e;
}
.see-quiz_3_box:hover {
    background: #ddd;
}
.see-quiz_3_box {
    padding: 6px 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
}
.quiz_3_box-right .see-quiz_3_box a, .quiz_3_box-left .see-quiz_3_box a {
    font-weight: 700;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
}
.quiz_3_box-right .see-quiz_3_box a span, .quiz_3_box-left .see-quiz_3_box a span {
    float: left;
}
.see-quiz_3_box img {
    width: 18px;
    height: 12px;
    margin-top: 3px;
}
.quiz_3_box-right .see-quiz_3_box a {
    color: #d2577e;
    float: left;
    margin-right: 5px;
}
.quiz_3_box-left .see-quiz_3_box a {
    color: #d2577e;
}
.quiz_3_box-right .see-quiz_3_box a .see-result {
    float: left;
}
.quiz_3_box-right .see-quiz_3_box a img {
    margin-left: 10px;
    margin-top: 0px;
    width: 16px;
    height: 16px;
    float: right;
}
.quiz_3 {
    position: relative;
}
.quiz_3_box-left .see-quiz_3_box a img {
    margin-right: 10px;
    margin-top: 0;
    width: 16px;
    height: 16px;
    float: left;
}
.quiz_3_box-left .see-quiz_3_box {
    float: left;
    border: 2px solid #616161;
}
.block-quiz-3 {
    display: inline-block;
    width: 100%;
}
.content-question-quiz-4-1 {
    bottom: 3px;
    display: inline-block;
    width: 100%;
    left: 0;
    bottom: 0;
}
.content-question-quiz-4-1-inner p {
    margin: 0;
}
.content-question-quiz-4-active {
    background-color: #eee;
}
.list-quiz-4-true .list-quiz-4-1-inner {
    background: #eaf8d2;
}
.content-question-quiz-4-left {
    width: 50%;
    float: left;
    cursor: pointer;
}
.content-question-quiz-true {
    background-color: #ecffd6;
    border: 1px solid #ddd;
}
.content-question-quiz-4-right {
    width: 50%;
    float: left;
    cursor: pointer;
}
.list-quiz-4-true, .list-quiz-4-false {
    position: relative;
}
.list-quiz-4-1-inner {
    padding: 10px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.content-question-quiz-4-1-inner p, .list-quiz-4-1-inner p {
    margin: 0;
}
.list-quiz-4-false .list-quiz-4-1-inner {
    background: #ffebee;
}
.see-result {
    font-size: 14px;
}
.check-quiz-question-item p {
    text-align: left;
}
.newsContent .img-quiz-question-item .content-question-quiz-4-1-img img {
    width: 60px;
    height: 60px;
}
.content-question-quiz-4-1-img {
    width: 100px;
    float: left;
    padding: 10px;
}
.content-question-quiz-4-1-body {
    margin-left: 100px;
    border-left: 1px solid #b7de9d;
    padding: 10px 20px;
    min-height: 120px;
}
.answer-true .text-uppercase {
    color: #339519;
}
.answer-false .text-uppercase {
    color: #e62020;
}
.content-question-quiz-false {
    background-color: #ffdbdb;
}
.content-question-quiz-false .content-question-quiz-4-1-body {
    border-left: 1px solid #e8b6b8;
}
.list-quiz-4-1:hover {
    cursor: pointer;
}
.body-quiz-question-inner .div-quiz-label {
    margin-bottom: 10px;
}
.body-quiz-question-inner input[type=radio] {
    margin-right: 3px;
}
.nwsCt .img-quiz-question-item img {
    width: 100%;
    max-width: inherit;
}
.quiz-question-five i {
    font-size: 16px !important;
}

/* Begin - Tytv 20/12/2017 - tinh_chinh_giao_dien_quiz4*/
.list-quiz-cung .title-list-quiz-cung{
    line-height: 26px;
}
/* End - Tytv 20/12/2017 - tinh_chinh_giao_dien_quiz4*/

/* begin 1/2/2018 TuyenNT fix_hien_thi_anh_trong_noi_dung_bai_quiz */
.quiz-question-one, .quiz-question-two, .quiz-question-three,
.quiz-question-five, .quiz-question-six, .quiz-question-seven {
    clear: both;
    display: inline-block;
    width: 100%;
}
/*Start Question two*/
.quiz-question-two .body-quiz-question .quiz-question-item {
    width: 33.33%;
    float: left;
}
/*End question two*/

/*Start Question four*/
.quiz-question-four .body-quiz-question .quiz-question-item {
    width: 25%;
    float: left;
}
/*End question four*/
.list-quiz-cung-item {
    width: 25%;
    float: left;
    margin-bottom: 1%;
}
/* end 1/2/2018 TuyenNT fix_hien_thi_anh_trong_noi_dung_bai_quiz */

/*Begin 28/11/2019: dangtq sua_bookmark_bai_quizz*/
.body-quiz-cung{
    padding-top: 60px;
}
/*End 28/11/2019: dangtq sua_bookmark_bai_quizz*/