/*Begin template op0701*/
@font-face {
  font-family: UTM Androgyne;
  src: url("../fonts/UTM Androgyne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.sknb_op0701 {
  margin-bottom: 10px; }
  .sknb_op0701 header {
    background: url("../images/op0701_top.gif") no-repeat;
    height: 150px;
    position: relative; }
  .sknb_op0701 .list {
    background: url("../images/op0701_center.jpg") no-repeat;
    background-size: 100% 100%;
    margin-top: -1px;
    padding: 0px 20px 0 28px; }
    .sknb_op0701 .list article .icoFlower {
      width: 18px;
      height: 15px;
      background: url(../images/icoFlower.png) no-repeat;
      margin-right: 10px;
      margin-top: 6px;
      cursor: pointer; }
    .sknb_op0701 .list article .icoDot {
      width: 10px;
      height: 9px;
      background-color: #fff;
      margin: 8px 10px 0 4px;
      border-radius: 50%;
      cursor: pointer; }
    .sknb_op0701 .list article a {
      color: #fff;
      font-family: UTM Androgyne, "Open Sans", sans-serif;
      line-height: 1.4;
      padding-bottom: 5px;
      margin-bottom: 12px;
      width: 100%;
      font-size: 15px; }
      .sknb_op0701 .list article a:hover {
        color: #d2577e; }
    .sknb_op0701 .list article:last-child a {
      padding-bottom: 0;
      margin-bottom: 0; }
  .sknb_op0701 .footBg {
    background-image: url("../images/op0701_bottom.jpg");
    height: 210px; }

/*End template op0701*/
