.textChuanTo .clearfix{
	clear: both;
}
.textChuanTo *{
	margin: 0 auto;
	font-family: Arial!important;
}
.textChuanTo *, .textChuanTo *:before, .textChuanTo *:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.textChuanTo .mg-leftright, .textChuanTo .mg-leftanhright {
	padding: 0px;
}
.textChuanTo .container-inner{
	width: 1530px;
	margin: 0 auto;
	text-align: justify;
}
.textChuanTo .wrapper-contain{
	width: 80%;
	margin: 0 auto;
	padding-top: 0px;
	padding-bottom: 10px;
}
.textChuanTo .textNormal p{
	font-size: 20px!important;
	line-height: 32px!important;
	margin: 15px 0;
	font-family: Arial!important;
	color: #223442;
}
.textChuanTo .mg-text-center{
	text-align: center;
}
.textChuanTo .wow{
	visibility: hidden;
}
.textChuanTo .fullscreen{
	max-width: 100%;
	height: auto;
	width: auto;
}
.textChuanTo .textNormal h4{
	font-size: 24px;
	font-weight: 600;
	color: #582b1c;
	font-style: oblique;
	margin: 20px 0px;
	font-family: Arial!important;
	line-height: 1.3;
}
.textChuanTo .textNormal p.bigTxt{
	font-size: 65px!important;
    float: left;
    margin-right: 5px;
    margin-top: 17px;
    font-weight: bold;
}

@media (min-width: 800px){
	.textChuanTo .container-inner {
		width: 750px;
	}
	.textChuanTo .wrapper-contain{
		font-size: 22px;
	}
}
@media (min-width: 992px){
	.textChuanTo .container-inner {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.textChuanTo .container-inner {
		width: 1004px;
	}
}
/*end pc*/

@media only screen and (max-width: 800px){
	.textChuanTo .mg-leftright, .textChuanTo .mg-leftanhright{
		padding: 0;
	}
	.textChuanTo .container-inner{
		width: 100%;
	}
	.textChuanTo .wrapper-contain{
		width: auto;
		margin: 0px 15px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.textChuanTo .textNormal p, .textChuanTo .textNormal h4{
		font-size: 18px !important;
		line-height: 32px !important;
		margin: 5px 0;
	}
}
/*end tablet, mobile*/