//Template 2 anh
.fancybox-overlay{
	z-index: 999999;
}
.slideImg{
	display: flex;
	width: 660px;
	.item:first-child{
		margin-right: 10px;
		img{
			max-width: 100%;
		}
	}
	&.type01b{
		.item{
			width: 40%;
			img{
				height: 100%;
				object-fit: cover;
			}
			&:first-child{
				width: 60%;
			}
		}
	}
	&.type01c{
		.item{
			width: 60%;
			img{
				height: 100%;
				object-fit: cover;
			}
			&:first-child{
				width: 40%;
			}
		}
	}
}