.fancybox-overlay {
  z-index: 999999; }

.slideImg {
  display: flex;
  width: 660px; }
  .slideImg .item:first-child {
    margin-right: 10px; }
    .slideImg .item:first-child img {
      max-width: 100%; }
  .slideImg.type01b .item {
    width: 40%; }
    .slideImg.type01b .item img {
      height: 100%;
      object-fit: cover; }
    .slideImg.type01b .item:first-child {
      width: 60%; }
  .slideImg.type01c .item {
    width: 60%; }
    .slideImg.type01c .item img {
      height: 100%;
      object-fit: cover; }
    .slideImg.type01c .item:first-child {
      width: 40%; }
  .slideImg.type02 .item:nth-child(2) {
    margin-right: 10px; }
  .slideImg.type04 {
    display: table; }
    .slideImg.type04 .item {
      margin-bottom: 10px;
      display: inline-table;
      width: 325px; }
      .slideImg.type04 .item:nth-child(2n+1) {
        margin-right: 10px; }
