//Template 2 anh
.fancybox-overlay{
	z-index: 999999;
}
.w60{
	width: 60%;
}
.slideImg{
	display: flex;
	width: 660px;
	.item{
		margin-bottom: 7px;
		background-color: #f5f6f7;
		&:first-child{
			margin-right: 7px;
		}
	}
	img{
		max-width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&.type01b{
		.item{
			width: 40%;
			&:first-child{
				@extend .w60;
			}
		}
	}
	&.type01c{
		.item{
			@extend .w60;
			img{
				height: 100%;
				object-fit: cover;
			}
			&:first-child{
				width: 40%;
			}
		}
	}
	&.type02{
		.item:nth-child(2){
			margin-right: 7px;
		}
	}
	&.type03{
		display: block;
		.row{
			display: flex;
		}
		&.type03b{
			.row1 .item:first-child, .row2 .item:last-child{
				@extend .w60;
			}
		}
		&.type03c{
			.row1 .item:last-child, .row2 .item:first-child{
				@extend .w60;
			}
		}
		&.type03d{
			.row2 .item:first-child{
				@extend .w60;
			}
		}
		&.type03e{
			.row2 .item:last-child{
				@extend .w60;
			}
		}
	}
	&.type04{
		.item:nth-child(2){
			margin-right: 7px;
		}
	}
	&.type05{
		.row1 .item:nth-child(2){
			margin-right: 7px;
		}
	}
	&.type06{
		.row2 .item:last-child{
			width: 49%;
		}
	}
	&.type07{
		.row1 .item:first-child{
			width: 50%;
		}
	}
	&.type08{
		.row1 .item:nth-child(2){
			width: 50%;
		}
		.row2 .item:first-child{
			width: 40%;
		}
	}
	&.type09{
		.row1 .item:last-child{
			width: 215%;
		}
		.row2 .item:first-child{
			width: 60%;
		}
	}
}